#container{
margin:auto;	
//background-color:yellow;
}

#header{
position:"relative";
//height:100px;
background-color:orange;
}

#menu{
position:"relative";
//height:100px;
background-color:grey;
}
#content{
position:"relative";
background-color:orange;
}
#footer{
position:"relative";
//height:100px;
background-color:grey;
}

#one{
float:left;
}

#two{
position:relative;
text-align:right;
}